body{
    background-color:white;
    grid-auto-columns: repeat(12, 1fr);
    grid-auto-rows: 100px 500px 100px;
    display: grid;
}

main{

    display: grid;
    grid-template-columns: repeat(3, 500px);
    
}
img {
    ;grid-column: 1 / 2; 
}
p {
   grid-column: 2 / 3;

}

header
{
padding-left: 1000px;
padding-top: 300px;
}