body{
    background-color: white;
    grid-auto-columns: repeat(12, 1fr);
    grid-auto-rows: 100px 500px 100px;
    display: grid;
}

main{
    color: #E6CC73;
    font-size: 300px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

header
{
padding-left: 1000px;
padding-top: 270px;
}